<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <table >
          <tr class="contact-list">


            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="mailto:{{site.email}}">
                  <i class="fa-regular fa-envelope"></i>
                </a>
              </div>
            </td>

            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="https://scholar.google.com/citations?user={{site.scholar_id}}">
                  <i class="fa-brands fa-google-scholar"></i>
                </a>
              </div>
            </td>

            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="https://github.com/{{site.github}}">
                  <i class="fa-brands fa-github"></i>
                </a>
              </div>
            </td>

            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="https://linkedin.com/in/{{site.linkedin}}">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!--<div class="footer-col  footer-col-2">
      </div> -->

      <div class="footer-col  footer-col-3">
          <p class="text" align="right">Last updated {{ site.time | date: "%B %d, %Y" }}.</p>
      </div>
    </div>

  </div>

</footer>