<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


        <!-- diff from head.html begin -->
     <link rel="mask-icon" href="{{ site.baseurl }}/img/png/favicon.png">
     <link rel="alternate icon" class="js-site-favicon" type="image/png" href="{{ site.baseurl }}/img/png/favicon.png">
     <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="{{ site.baseurl }}/img/png/favicon.png">
    <!-- diff from head.html end -->
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>


</head>